{{!--  production portfolio grid   --}}
<div class="button-group filter-button-group text-center">
  <button class="small primary button" data-filter="*">All</button>
  <button class="small primary button" data-filter=".live_coding">live_coding</button>
  <button class="small primary button" data-filter=".electronic_literature">electronic_literature</button>
  <button class="small primary button" data-filter=".women">women</button>
  <button class="small primary button" data-filter=".visual_music">visual_music</button>
  <button class="small primary button" data-filter=".electroacustic">electroacustic</button>
  <button class="small primary button" data-filter=".collaborations">collaborations</button>
  <button class="small primary button" data-filter=".documentary">documentary</button>
  <button class="small primary button" data-filter=".performance">performance</button>
</div>

<div class="grid-x grid large-collapse medium-collapse small-uncollapse portfolium">


    {{#each projects}}
    <div class="column medium-6 large-4 folium {{#each tags}}{{this}} {{/each}}">
      <a href="{{root}}prod/{{@key}}">
      <figure class="effect-zoe">
          <img src="{{root}}assets/img/projects/{{@key}}/01.jpg" alt="{{project-title}}"/>
          <figcaption>
              <h4>{{project-title}}</h4>
              {{#if project-subtitle}}
              <h6>{{project-subtitle}}</h6>
              {{/if}}
          </figcaption>
      </figure>
      </a>
    </div>
    {{/each}}

</div>
