{{!-- panini base layout --}}
<!doctype html>
<html class="no-js" lang="{{#if spanish}}es{{else}}en{{/if}}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#337f6f">
    <title>andamio | {{title}}</title>
    <meta name="description" content="{{description}}">

    <!-- <link rel="stylesheet" href="{{root}}assets/css/app.css"> -->
    <link rel="stylesheet" href="{{root}}assets/css/app.4.0.0.min.css">
    {{> extra-css}}
  </head>
  <body>
    <div class="offcanvas-wrapper">

      <div class="off-canvas position-right" id="offCanvasRight" data-off-canvas>
        {{> offnav}}
      </div>

      <div class="off-canvas-content" data-off-canvas-content>
        {{> header}}
        {{> body}}

          {{#unlesspage 'index'}}
        {{> footer}}
          {{/unlesspage}}

      </div>
    </div>
  <script src="{{root}}assets/js/app.4.0.0.min.js"></script>
  <!-- <script src="{{root}}assets/js/app.js"></script> -->
  {{> extra-scripts}}
  </body>
</html>
